@* localhost:5000 *@
@* Homepage with link to "vendor" page *@
@* this is localhost:5000/ that will lead to ..:5000/vendors *@

<h1>Pierre's Commercial Tracker</h1>
<h3><a href="/vendors">View Current Vendors</a></h3>
<h3><a href="/vendors/new">Add a new Vendor</a></h3>