@* localhost:5000/vendors/{id}/orders *@
@* Page to show all the vendors orders *@

@using Tracker.Models;

<h2>Orders for current Vendor: </h2>

<ol>
@foreach (Orders orders in @Model["orders"])
{
  <li><a href='/vendors/@Model["vendors"].Id/orders/@orders.Id'>@orders.Contents</a></li>
}
</ol>

<p><a href='/vendors/@Model["vendors"].Id/orders/new'>Add a new Order</a></p>
<p><a href='/vendors'>Back</a> to Vendor list.</p>
<p><a href="/">Home</a></p>
