@* localhost:5000/vendors/{id}/orders/{id} *@
@* Page to show all orders from a particular vendor *@
@* Routed from "/vendors", this page will look like "/vendors/{id}/orders" and will also contain a link to make a new order "/vendors/{id}/orders/new" *@
@* Should contain buttons to go to new order, back to vendor list, or home *@

<h1>Order Details</h1>


<h3>@Model["orders"].Contents</h2>
