<h1>Order Details</h1>


<p>Order name: @Model["orders"].Contents</p>
<p>Description: @Model["orders"].OrderDescription</p>
<p>Date placed: @Model["orders"].OrderDate</p>
<p>Price: $@Model["orders"].OrderPrice</p>

<p><a href='/vendors/@Model["vendors"].Id/'>Back</a> to all orders for @Model["vendors"].Name.</p>
